/* Bootstrap Overrides */
:root {
	--primary-rgb: 13, 110, 253;
	--primary-light-a: 0.05;
	
	/* Carry over from scoped .modal variable */
	--bs-modal-footer-gap: 0.5rem;
}

.list-group {
	--bs-list-group-active-color: rgba(var(--primary-rgb));
	--bs-list-group-active-bg: rgba(var(--primary-rgb), var(--primary-light-a));
	--bs-list-group-active-border-color: rgb(var(--primary-rgb));
}
.list-group-item {
	--bs-list-group-item-padding-x: 0.5rem;
	--bs-list-group-item-padding-y: 0.5rem;
	--bs-list-group-bg: transparent;
}

.text-muted {
	/*color: rgba(0,0,0,0.6) !important;*/
	color: inherit !important;
	opacity: 0.6;
}

/* Underlap modals */
.input-group .btn {
	z-index: auto;
}

/* Scroll dropdown menus if necessary */
.dropdown-menu {
	max-height: 70vh;
	max-width: 80vw;
	overflow-y: auto;
}
.dropdown-item {
	white-space: normal;
}

/* Blur backgrounds */
.modal {
	backdrop-filter: blur(3px);
}

/* Force animation */
@media (prefers-reduced-motion: reduce) {
    .fade {
        transition: opacity .15s linear;
    }
	.modal.fade .modal-dialog {
		transition: transform .3s ease-out;
	}
}
/* https://stackoverflow.com/questions/32168234/change-the-bootstrap-modal-effect */
.fade-scale {
	transform: scale(0);
	opacity: 0;
	-webkit-transition: all .25s linear;
	-o-transition: all .25s linear;
	transition: all .25s linear;
}

.fade-scale.in {
	opacity: 1;
	transform: scale(1);
}

/* Icons */

.icon {

	&-home::before {
		content: "\f015";
	}
	&-challenges::before {
		content: "\f022";
	}
	&-items::before {
		content: "\f0b1";
		content: "\f466";
	}
	&-activated-item::before {
		content: "\f256";
		content: "\f49e";
	}
	&-locations::before {
		content: "\f5a0";
	}
	&-characters::before {
		content: "\f0c0";
	}
	&-scan::before {
		content: "\f06e";
	}
	&-stop-scan::before {
		content: "\f070";
	}
	&-upload::before {
		content: "\f093";
	}
	&-health::before {
		content: "\f004";
	}
	&-exp::before {
		content: "\f1b3";
	}
	&-special::before {
		content: "\f72b";
	}
	&-magic::before {
		content: "\f72b";
	}
	&-currency::before {
		content: "\f51e";
	}
	&-points::before {
		content: "\f219";
		content: "\f005";
	}
	&-defense::before {
		content: "\f132";
	}
	&-hp::before {
		content: "\f0e7";
	}
	&-hint::before {
		content: "\f05a";
	}
	&-use::before {
		content: "\e09a";
	}
	&-qr::before {
		content: "\f029";
	}
	&-add::before {
		content: "\2b";
	}
	&-start::before {
		content: "\f144";
	}
	&-info::before {
		content: "\f05a";
	}
	&-cog::before {
		content: "\f013";
	}
	&-map-pin::before {
		content: "\f3c5";
	}
	&-character::before {
		content: "\f007";
	}
	&-challenge::before {
		content: "\f70e";
	}
	&-game::before {
		content: "\f091";
	}
	&-refresh::before {
		content: "\f021";
	}
	&-screen-back::before {
		content: "\f137";
		content: "\f053";
	}
	&-screen-close::before {
		content: "\f057";
		content: "\f00d";
	}
	&-warning::before {
		content: "\f06a";
	}
	&-complete::before {
		content: "\f058";
	}
	&-incomplete::before {
		content: "\f057";
	}
	&-plus::before {
		content: "\f055";
	}
	&-minus::before {
		content: "\f056";
	}
	&-available::before {
		content: "\f111";
		content: "\f192";
	}
	&-toolbox::before {
		content: "\f552";
	}
	&-box::before {
		content: "\f466";
	}
	&-box-open::before {
		content: "\f49e";
	}
	&-gift::before {
		content: "\f06b";
	}
	&-medal::before {
		content: "\f5a2";
	}
	&-award::before {
		content: "\f559";
	}
	&-trophy::before {
		content: "\f091";
	}
	&-timer::before {
		content: "\f2f2";
	}
	&-reset-time::before {
		content: "\f1da";
	}
	&-finish::before {
		content: "\f11e";
	}
	&-infinity::before {
		content: "\f534";
	}
	&-death::before {
		content: "\f714";
	}

	&--fa {
		display: var(--fa-display,inline-block);
		font-family: "Font Awesome 6 Free" !important;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-style: normal;
		font-variant: normal;
		font-weight: 900;
		line-height: 1;
		text-rendering: auto;
	}
	&--fw {
		text-align: center;
		width: 1.25em;
	}

}

/* Game Screens */

.game-screen {
	display: flex;
	flex-direction: column;
	max-height: 100%;/*100vh - Not using vh because of mobile issues with address bar: https://stackoverflow.com/questions/37112218/css3-100vh-not-constant-in-mobile-browser */
	min-height: 100%;/*100vh*/

	bottom: 0;
	height: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1;

	/* Make sure above sticky main nav */
	&--title,
	&--instructions,
	&--settings {
		z-index: 3;
	}

	&--nested {
		backdrop-filter: blur(1px);
		background-color: rgba(0, 0, 0, 0.2);
		padding: 0 !important;
		justify-content: flex-end;
		
		background-color: rgba(0, 0, 0, 0.2);
		background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.2) 100%);
		background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.2) 100%);
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.2) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
	}
	&__wrapper {
		background-color: #ffffff;
		display: flex;
		flex-direction: column;
		min-height: 100%;
		overflow: auto;
		padding: 2.0em;

		/* Make room for bottom sticky nav to not overlap content and scroll past it 
		.game-screen:not(.game-screen--title):not(.game-screen--instructions):not(.game-screen--settings) & > .row:last-of-type {
			padding-bottom: 4.0em;
		}*/
	}
	&--nested &__wrapper {
		box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
		min-height: calc(100% - 3.0em);
		width: calc(100vw - 3.0em);
		padding: 0;
	}
	.setting--gameplay-left-handed-on &--nested &__wrapper {
		box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.4);
		margin-left: auto;
	}

	&--nested &__title-row {
		padding: 2.0em 1.5em 1.0em;
	}
	&--nested &__content-row {
		overflow: auto;
		/* Make room for bottom sticky nav to not overlap content and scroll past it */
		padding: 0.0em 1.5em 6.0em;
	}

	/* Game Screen pieces */

	.setting--gameplay-left-handed-on &__title-row{
		flex-direction: row-reverse;
	}

	&__title-col {
		text-align: center;
	}
	&__title-heading {
		margin: 0;
	}

	/* Hide back navigation for now */
	&__back {
		display: none;
	}
	&__back-col,
	&__close-col {
		opacity: 0.3;
		width: 0%;
	}
	&__close-col {
		text-align: right;
	}
	.setting--gameplay-left-handed-on &__close-col {
		text-align: left;
	}
	.setting--gameplay-left-handed-on &__back-col {
		text-align: right;
	}

	/* White fade over content */
	&__status-container {
		position: relative;

		&--scroll::after {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			height: 2.0rem;
			width: 100%;

			background: rgb(255,255,255);
			background: -moz-linear-gradient(180deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,1) 100%);
			background: -webkit-linear-gradient(180deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,1) 100%);
			background: linear-gradient(180deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
		}
	}
	/* Enough padding added to scroll past fade over content */
	&__status-row {
		padding-bottom: 2.0rem;
	}
	
	.setting--gameplay-left-handed-on &__nav-icon-row {
		flex-direction: row-reverse;
	}
	/* Invisible because sticky nav is being used, but take up space because it sits on top of this area */
	.game-screen &__nav-icon-row {
		visibility: hidden;
	}
	&__nav-icon {
		--bs-text-opacity: 1;
		color: inherit;
		color: rgba(var(--bs-secondary-rgb),var(--bs-text-opacity));
		text-decoration: none;
		
		&:hover {
			color: inherit;
			color: rgba(var(--bs-secondary-rgb),var(--bs-text-opacity));
		}
		&::before {
			font-size: 2.0rem;
		}
		
		&.active {
			color: inherit;
		}

		&--start-scan::before,
		&--stop-scan::before {
			font-size: 4.0rem;
		}
		&--stop-scan {
			color: #ffffff;
			filter: drop-shadow(2px 4px 6px rgb(0, 0, 0));
			margin: 20px auto 0;
		}
		&--upload-scan {
			margin-bottom: 1.0rem;
			opacity: 0.6;
			padding-bottom: 1.0rem;
			padding-top: 1.0rem;
		}
		&--upload-scan::before {
			font-size: 1.4rem;
		}

		&-stat {
			border: 2px solid #ffffff;
			font-family: var(--bs-body-font-family);
			margin-left: -0.5em;
		}
	}

	.status-container {
		&--active-challenges {
			display: flex;
		}

		.active-challenges-status {
			width: 100%;

			.list-group-item {
				padding-top: 0;
			}
		}
	}

	&__bottom-row {
		align-self: center;
		margin-top: auto;
		text-align: center;
		width: 100%;
	}

	/* Game Screen Content */
	
	.player-stats {
		display: flex;
		justify-content: center;
	}
	.player-stat {
		display: flex;
		margin-right: 0.6em;
		
		&:last-child {
			margin-right: 0;
		}

		&__label {
			font-weight: 400;
			margin-right: 0.2em;
		}
	}

	.list-group-item {
		&.active {
			border-width: 1px;
		}

		&--button-container > * {
			margin: calc(var(--bs-modal-footer-gap) * .5);
			margin-left: 0;
			
			&:last-child {
				margin-right: 0;
			}
		}
	}

	.main-bottom-nav-row {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
}

/* Main */

.main {
	&__sticky-bottom-nav {
		bottom: 0;
		padding: 2.0em;
		position: absolute;
		text-align: center;
		width: 100%;
		z-index: 2;
		
		/* White fade over content */
		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			height: 100%;
			left: 0;
			width: 100%;
			z-index: -1;

			background: rgb(255,255,255);
			background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
		}
	}
}

/* Modal Content */

.modal-avatar {
	&__image {
		border-radius: var(--bs-border-radius);
	}

	&--left {
		float: left;
		margin-right: 1.0em;
		max-width: 33.333%;
	}
	&--right {
		float: right;
		margin-left: 1.0em;
		max-width: 33.333%;

	}

	&--left &__image:not(.flip--h),
	&--right &__image.flip--h {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	&--left &__image.flip--h,
	&--right &__image:not(.flip--h) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	
}

.modal-showcase {
	&__image {
		border-radius: var(--bs-modal-inner-border-radius);
		max-height: 40vh;
	}
}
.modal--showcase {
	+ .modal-backdrop {
		background: radial-gradient(yellow, black);
	}

	.modal-title {
		opacity: 0.6;
	}
}

.modal-interaction {
	.modal-body p:last-child {
		margin-bottom: 0;
	}
}

/* Override z-index to allow modals on top of it */
.modal--component-info {
	z-index: 1045;
}
.modal--component-info + .modal-backdrop {
	z-index: 1040;
}
/* White fade over content */
.modal--component-info .modal-footer {
	position: relative;

	&::before {
		content: "";
		display: block;
		position: absolute;
		top: calc(-2.0rem - 1px);
		height: 2.0rem;
		width: 100%;

		background: rgb(255,255,255);
		background: -moz-linear-gradient(180deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,1) 100%);
		background: -webkit-linear-gradient(180deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,1) 100%);
		background: linear-gradient(180deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
	}
}
/* Enough padding added to scroll past fade over content */

/* Debug */

.body--debug {

	.game-screen {
		position: relative;

		.d-none {
			display: inherit !important;
		}
	}

}

/* QR Code Reader */

.video-area {
	border-radius: var(--bs-border-radius-2xl);
	line-height: 0;
	min-height: 180px;
	max-width: 320px;
	
	video {
		background-color: #000000;
		width: 100%;
	}
}

.video-area-overlay {
	left: 50%;
	margin: 0;
	padding-top: 60%;
	padding-left: 60%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	
	/* https://ishadeed.com/article/thinking-about-the-cut-out-effect/ */
	/* https://stackoverflow.com/questions/32962110/overlay-with-cut-out-rectangle-mask */
	&::after {
		border: 3px dashed whitesmoke;
		border-radius: var(--bs-border-radius-xl);
		box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.4);
		content: "";
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.video-controls {
	margin-top: 1.0rem;
}
.video-control {
	margin-bottom: 1.0rem;
}

.qrcode-reader {

	&__container {
		backdrop-filter: blur(3px);
		display: none;
		
		&.scanner-overlay {
			align-items: center;
			background: radial-gradient(black, transparent);
			bottom: 0;
			color: #ffffff;
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: center;
			left: 0;
			padding-bottom: 4.0rem;
			position: fixed;
			right: 0;
			top: 0;
			width: 100%;
			z-index: 1;

			&--bg-success {
				background: radial-gradient(rgba(var(--bs-success-rgb), 1.0), transparent);
			}
			&--bg-danger {
				background: radial-gradient(rgba(var(--bs-danger-rgb), 1.0), transparent);
			}
		}
	}

	&__wrapper {
		position: relative;
	}

}

/* Themes */

.theme-dark {

	color: #ffffff;

	.game-screen {
		background-color: #000000;

		&__wrapper {
			background-color: inherit;
		}

		.list-group-item {
			color: inherit;
		}

		&__status-container {
			&::after {
				background: rgb(0,0,0);
				background: -moz-linear-gradient(180deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,1) 100%);
				background: -webkit-linear-gradient(180deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,1) 100%);
				background: linear-gradient(180deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
			}
		}
	}

	.modal {
		--bs-modal-bg: #000000;
		--bs-modal-border-color: #ffffff;
		--bs-modal-color: #ffffff;
	}
	.modal-content {
		background-image: none !important;
	}

	.modal--component-info .modal-footer {
		&::before {
			background: rgb(0,0,0);
			background: -moz-linear-gradient(180deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,1) 100%);
			background: -webkit-linear-gradient(180deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,1) 100%);
			background: linear-gradient(180deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
		}
	}

	.toast {
		--bs-toast-bg: #000000;
		--bs-toast-border-color: #ffffff;
		--bs-toast-color: #ffffff;
		--bs-toast-header-bg: #000000;
		--bs-toast-header-color: #ffffff;
	}
}

/* Browser Information */

/* https://animate.style/, https://css-tricks.com/revisiting-prefers-reduced-motion/ */
/* Position and style the notice banner */
.motionless__banner {
	display: none; /* hides the banner when animations are enabled */
}
/* Show the banner if the user disables animations in the OS level */
@media (print), (prefers-reduced-motion: reduce) {
	.motionless__banner {
		display: block;
	}
}

/* All animations will take twice as long to finish */
:root {
	--animate-duration: 500ms;
}
/* Override reduced motion */
@media (prefers-reduced-motion: reduce), print {
	.animate__animated {
		-webkit-animation-duration: var(--animate-duration) !important;
		animation-duration: var(--animate-duration) !important;
		-webkit-transition-duration: var(--animate-duration) !important;
		transition-duration: var(--animate-duration) !important;
		-webkit-animation-iteration-count: var(--animate-duration) !important;
		animation-iteration-count: var(--animate-duration) !important;
	}

	.animate__animated.animate__infinite {
		-webkit-animation-iteration-count: infinite !important;
		animation-iteration-count: infinite !important;
	}
}

/* Utilities */

.flip,
.flip--h { /* flip horizontally */
	transform: scaleX(-1);
}
.flip--v { /* flip vertically */
	transform: scaleY(-1);
}
.flip--b { /* flip both */
	transform: scale(-1, -1);
}