/* Bootstrap Overrides */
:root {
  --primary-rgb: 13, 110, 253;
  --primary-light-a: 0.05;
  /* Carry over from scoped .modal variable */
  --bs-modal-footer-gap: 0.5rem;
}

.list-group {
  --bs-list-group-active-color: rgba(var(--primary-rgb));
  --bs-list-group-active-bg: rgba(var(--primary-rgb), var(--primary-light-a));
  --bs-list-group-active-border-color: rgb(var(--primary-rgb));
}

.list-group-item {
  --bs-list-group-item-padding-x: 0.5rem;
  --bs-list-group-item-padding-y: 0.5rem;
  --bs-list-group-bg: transparent;
}

.text-muted {
  /*color: rgba(0,0,0,0.6) !important;*/
  color: inherit !important;
  opacity: 0.6;
}

/* Underlap modals */
.input-group .btn {
  z-index: auto;
}

/* Scroll dropdown menus if necessary */
.dropdown-menu {
  max-height: 70vh;
  max-width: 80vw;
  overflow-y: auto;
}

.dropdown-item {
  white-space: normal;
}

/* Blur backgrounds */
.modal {
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

/* Force animation */
@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: opacity 0.15s linear;
  }
  .modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
  }
}
/* https://stackoverflow.com/questions/32168234/change-the-bootstrap-modal-effect */
.fade-scale {
  transform: scale(0);
  opacity: 0;
  transition: all 0.25s linear;
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}

/* Icons */
.icon-home::before {
  content: "\f015";
}
.icon-challenges::before {
  content: "\f022";
}
.icon-items::before {
  content: "\f0b1";
  content: "\f466";
}
.icon-activated-item::before {
  content: "\f256";
  content: "\f49e";
}
.icon-locations::before {
  content: "\f5a0";
}
.icon-characters::before {
  content: "\f0c0";
}
.icon-scan::before {
  content: "\f06e";
}
.icon-stop-scan::before {
  content: "\f070";
}
.icon-upload::before {
  content: "\f093";
}
.icon-health::before {
  content: "\f004";
}
.icon-exp::before {
  content: "\f1b3";
}
.icon-special::before {
  content: "\f72b";
}
.icon-magic::before {
  content: "\f72b";
}
.icon-currency::before {
  content: "\f51e";
}
.icon-points::before {
  content: "\f219";
  content: "\f005";
}
.icon-defense::before {
  content: "\f132";
}
.icon-hp::before {
  content: "\f0e7";
}
.icon-hint::before {
  content: "\f05a";
}
.icon-use::before {
  content: "\e09a";
}
.icon-qr::before {
  content: "\f029";
}
.icon-add::before {
  content: "+";
}
.icon-start::before {
  content: "\f144";
}
.icon-info::before {
  content: "\f05a";
}
.icon-cog::before {
  content: "\f013";
}
.icon-map-pin::before {
  content: "\f3c5";
}
.icon-character::before {
  content: "\f007";
}
.icon-challenge::before {
  content: "\f70e";
}
.icon-game::before {
  content: "\f091";
}
.icon-refresh::before {
  content: "\f021";
}
.icon-screen-back::before {
  content: "\f137";
  content: "\f053";
}
.icon-screen-close::before {
  content: "\f057";
  content: "\f00d";
}
.icon-warning::before {
  content: "\f06a";
}
.icon-complete::before {
  content: "\f058";
}
.icon-incomplete::before {
  content: "\f057";
}
.icon-plus::before {
  content: "\f055";
}
.icon-minus::before {
  content: "\f056";
}
.icon-available::before {
  content: "\f111";
  content: "\f192";
}
.icon-toolbox::before {
  content: "\f552";
}
.icon-box::before {
  content: "\f466";
}
.icon-box-open::before {
  content: "\f49e";
}
.icon-gift::before {
  content: "\f06b";
}
.icon-medal::before {
  content: "\f5a2";
}
.icon-award::before {
  content: "\f559";
}
.icon-trophy::before {
  content: "\f091";
}
.icon-timer::before {
  content: "\f2f2";
}
.icon-reset-time::before {
  content: "\f1da";
}
.icon-finish::before {
  content: "\f11e";
}
.icon-infinity::before {
  content: "\f534";
}
.icon-death::before {
  content: "\f714";
}
.icon--fa {
  display: var(--fa-display, inline-block);
  font-family: "Font Awesome 6 Free" !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  line-height: 1;
  text-rendering: auto;
}
.icon--fw {
  text-align: center;
  width: 1.25em;
}

/* Game Screens */
.game-screen {
  display: flex;
  flex-direction: column;
  max-height: 100%; /*100vh - Not using vh because of mobile issues with address bar: https://stackoverflow.com/questions/37112218/css3-100vh-not-constant-in-mobile-browser */
  min-height: 100%; /*100vh*/
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  /* Make sure above sticky main nav */
  /* Game Screen pieces */
  /* Hide back navigation for now */
  /* White fade over content */
  /* Enough padding added to scroll past fade over content */
  /* Invisible because sticky nav is being used, but take up space because it sits on top of this area */
  /* Game Screen Content */
}
.game-screen--title, .game-screen--instructions, .game-screen--settings {
  z-index: 3;
}
.game-screen--nested {
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0 !important;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.2);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}
.game-screen__wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: auto;
  padding: 2em;
  /* Make room for bottom sticky nav to not overlap content and scroll past it 
  .game-screen:not(.game-screen--title):not(.game-screen--instructions):not(.game-screen--settings) & > .row:last-of-type {
  	padding-bottom: 4.0em;
  }*/
}
.game-screen--nested .game-screen__wrapper {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  min-height: calc(100% - 3em);
  width: calc(100vw - 3em);
  padding: 0;
}
.setting--gameplay-left-handed-on .game-screen--nested .game-screen__wrapper {
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.4);
  margin-left: auto;
}
.game-screen--nested .game-screen__title-row {
  padding: 2em 1.5em 1em;
}
.game-screen--nested .game-screen__content-row {
  overflow: auto;
  /* Make room for bottom sticky nav to not overlap content and scroll past it */
  padding: 0em 1.5em 6em;
}
.setting--gameplay-left-handed-on .game-screen__title-row {
  flex-direction: row-reverse;
}
.game-screen__title-col {
  text-align: center;
}
.game-screen__title-heading {
  margin: 0;
}
.game-screen__back {
  display: none;
}
.game-screen__back-col, .game-screen__close-col {
  opacity: 0.3;
  width: 0%;
}
.game-screen__close-col {
  text-align: right;
}
.setting--gameplay-left-handed-on .game-screen__close-col {
  text-align: left;
}
.setting--gameplay-left-handed-on .game-screen__back-col {
  text-align: right;
}
.game-screen__status-container {
  position: relative;
}
.game-screen__status-container--scroll::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  height: 2rem;
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgb(255, 255, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}
.game-screen__status-row {
  padding-bottom: 2rem;
}
.setting--gameplay-left-handed-on .game-screen__nav-icon-row {
  flex-direction: row-reverse;
}
.game-screen .game-screen__nav-icon-row {
  visibility: hidden;
}
.game-screen__nav-icon {
  --bs-text-opacity: 1;
  color: inherit;
  color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity));
  text-decoration: none;
}
.game-screen__nav-icon:hover {
  color: inherit;
  color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity));
}
.game-screen__nav-icon::before {
  font-size: 2rem;
}
.game-screen__nav-icon.active {
  color: inherit;
}
.game-screen__nav-icon--start-scan::before, .game-screen__nav-icon--stop-scan::before {
  font-size: 4rem;
}
.game-screen__nav-icon--stop-scan {
  color: #ffffff;
  filter: drop-shadow(2px 4px 6px rgb(0, 0, 0));
  margin: 20px auto 0;
}
.game-screen__nav-icon--upload-scan {
  margin-bottom: 1rem;
  opacity: 0.6;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.game-screen__nav-icon--upload-scan::before {
  font-size: 1.4rem;
}
.game-screen__nav-icon-stat {
  border: 2px solid #ffffff;
  font-family: var(--bs-body-font-family);
  margin-left: -0.5em;
}
.game-screen .status-container--active-challenges {
  display: flex;
}
.game-screen .status-container .active-challenges-status {
  width: 100%;
}
.game-screen .status-container .active-challenges-status .list-group-item {
  padding-top: 0;
}
.game-screen__bottom-row {
  align-self: center;
  margin-top: auto;
  text-align: center;
  width: 100%;
}
.game-screen .player-stats {
  display: flex;
  justify-content: center;
}
.game-screen .player-stat {
  display: flex;
  margin-right: 0.6em;
}
.game-screen .player-stat:last-child {
  margin-right: 0;
}
.game-screen .player-stat__label {
  font-weight: 400;
  margin-right: 0.2em;
}
.game-screen .list-group-item.active {
  border-width: 1px;
}
.game-screen .list-group-item--button-container > * {
  margin: calc(var(--bs-modal-footer-gap) * 0.5);
  margin-left: 0;
}
.game-screen .list-group-item--button-container > *:last-child {
  margin-right: 0;
}
.game-screen .main-bottom-nav-row {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Main */
.main__sticky-bottom-nav {
  bottom: 0;
  padding: 2em;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;
  /* White fade over content */
}
.main__sticky-bottom-nav::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 100%;
  z-index: -1;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

/* Modal Content */
.modal-avatar__image {
  border-radius: var(--bs-border-radius);
}
.modal-avatar--left {
  float: left;
  margin-right: 1em;
  max-width: 33.333%;
}
.modal-avatar--right {
  float: right;
  margin-left: 1em;
  max-width: 33.333%;
}
.modal-avatar--left .modal-avatar__image:not(.flip--h), .modal-avatar--right .modal-avatar__image.flip--h {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.modal-avatar--left .modal-avatar__image.flip--h, .modal-avatar--right .modal-avatar__image:not(.flip--h) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.modal-showcase__image {
  border-radius: var(--bs-modal-inner-border-radius);
  max-height: 40vh;
}

.modal--showcase + .modal-backdrop {
  background: radial-gradient(yellow, black);
}
.modal--showcase .modal-title {
  opacity: 0.6;
}

.modal-interaction .modal-body p:last-child {
  margin-bottom: 0;
}

/* Override z-index to allow modals on top of it */
.modal--component-info {
  z-index: 1045;
}

.modal--component-info + .modal-backdrop {
  z-index: 1040;
}

/* White fade over content */
.modal--component-info .modal-footer {
  position: relative;
}
.modal--component-info .modal-footer::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(-2rem - 1px);
  height: 2rem;
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgb(255, 255, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

/* Enough padding added to scroll past fade over content */
/* Debug */
.body--debug .game-screen {
  position: relative;
}
.body--debug .game-screen .d-none {
  display: inherit !important;
}

/* QR Code Reader */
.video-area {
  border-radius: var(--bs-border-radius-2xl);
  line-height: 0;
  min-height: 180px;
  max-width: 320px;
}
.video-area video {
  background-color: #000000;
  width: 100%;
}

.video-area-overlay {
  left: 50%;
  margin: 0;
  padding-top: 60%;
  padding-left: 60%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  /* https://ishadeed.com/article/thinking-about-the-cut-out-effect/ */
  /* https://stackoverflow.com/questions/32962110/overlay-with-cut-out-rectangle-mask */
}
.video-area-overlay::after {
  border: 3px dashed whitesmoke;
  border-radius: var(--bs-border-radius-xl);
  box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.4);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.video-controls {
  margin-top: 1rem;
}

.video-control {
  margin-bottom: 1rem;
}

.qrcode-reader__container {
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  display: none;
}
.qrcode-reader__container.scanner-overlay {
  align-items: center;
  background: radial-gradient(black, transparent);
  bottom: 0;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  padding-bottom: 4rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
.qrcode-reader__container.scanner-overlay--bg-success {
  background: radial-gradient(rgba(var(--bs-success-rgb), 1), transparent);
}
.qrcode-reader__container.scanner-overlay--bg-danger {
  background: radial-gradient(rgba(var(--bs-danger-rgb), 1), transparent);
}
.qrcode-reader__wrapper {
  position: relative;
}

/* Themes */
.theme-dark {
  color: #ffffff;
}
.theme-dark .game-screen {
  background-color: #000000;
}
.theme-dark .game-screen__wrapper {
  background-color: inherit;
}
.theme-dark .game-screen .list-group-item {
  color: inherit;
}
.theme-dark .game-screen__status-container::after {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgb(0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}
.theme-dark .modal {
  --bs-modal-bg: #000000;
  --bs-modal-border-color: #ffffff;
  --bs-modal-color: #ffffff;
}
.theme-dark .modal-content {
  background-image: none !important;
}
.theme-dark .modal--component-info .modal-footer::before {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgb(0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}
.theme-dark .toast {
  --bs-toast-bg: #000000;
  --bs-toast-border-color: #ffffff;
  --bs-toast-color: #ffffff;
  --bs-toast-header-bg: #000000;
  --bs-toast-header-color: #ffffff;
}

/* Browser Information */
/* https://animate.style/, https://css-tricks.com/revisiting-prefers-reduced-motion/ */
/* Position and style the notice banner */
.motionless__banner {
  display: none; /* hides the banner when animations are enabled */
}

/* Show the banner if the user disables animations in the OS level */
@media (print), (prefers-reduced-motion: reduce) {
  .motionless__banner {
    display: block;
  }
}
/* All animations will take twice as long to finish */
:root {
  --animate-duration: 500ms;
}

/* Override reduced motion */
@media (prefers-reduced-motion: reduce), print {
  .animate__animated {
    -webkit-animation-duration: var(--animate-duration) !important;
    animation-duration: var(--animate-duration) !important;
    transition-duration: var(--animate-duration) !important;
    -webkit-animation-iteration-count: var(--animate-duration) !important;
    animation-iteration-count: var(--animate-duration) !important;
  }
  .animate__animated.animate__infinite {
    -webkit-animation-iteration-count: infinite !important;
    animation-iteration-count: infinite !important;
  }
}
/* Utilities */
.flip,
.flip--h { /* flip horizontally */
  transform: scaleX(-1);
}

.flip--v { /* flip vertically */
  transform: scaleY(-1);
}

.flip--b { /* flip both */
  transform: scale(-1, -1);
}/*# sourceMappingURL=style.css.map */