/* Bootstrap Overrides */
:root {
  --primary-rgb: 13, 110, 253;
  --primary-light-a: 0.05;
  /* Carry over from scoped .modal variable */
  --bs-modal-footer-gap: 0.5rem;
}

.text-muted {
  /*color: rgba(0,0,0,0.6) !important;*/
  color: inherit !important;
  opacity: 0.6;
}

/* Blur backgrounds */
.modal {
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

/* Force animation */
@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: opacity 0.15s linear;
  }
  .modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
  }
}
/* https://stackoverflow.com/questions/32168234/change-the-bootstrap-modal-effect */
.fade-scale {
  transform: scale(0);
  opacity: 0;
  transition: all 0.25s linear;
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}

/* Main */
.main__sticky-bottom-nav {
  bottom: 0;
  padding: 2em;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;
  /* White fade over content */
}
.main__sticky-bottom-nav::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 100%;
  z-index: -1;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

.game-table {
  width: 100%;
}
.game-table td,
.game-table th {
  padding: 1rem 0.5rem;
  text-align: center;
}
.game-table thead th:first-child {
  vertical-align: top;
}
.game-table tbody tr.active {
  border: 1px solid #cccccc;
}
.game-table tbody tr:nth-child(even) {
  background-color: #f6f6f6;
}
.game-table .player-info-column {
  vertical-align: bottom;
}
.game-table .player-info-column.dealer {
  background-color: #f1f1f1;
}
.game-table .player-round-column .input-group {
  justify-content: center;
  margin-bottom: 0.5rem;
}
.game-table .player-round-column .input-group:last-of-type {
  margin-bottom: 0;
}
.game-table .player-round-column input[type=number] {
  /* Firefox */
  -moz-appearance: textfield;
  display: inline-block;
  max-width: 2.5em;
  text-align: center;
  width: auto;
  /* Chrome, Safari, Edge, Opera */
}
.game-table .player-round-column input[type=number]::-webkit-outer-spin-button, .game-table .player-round-column input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.game-table .player-round-column input[type=number]::-moz-placeholder {
  opacity: 0.5;
}
.game-table .player-round-column input[type=number]:-ms-input-placeholder {
  opacity: 0.5;
}
.game-table .player-round-column input[type=number]::placeholder {
  opacity: 0.5;
}

[contenteditable] {
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: var(--bs-border-radius);
  padding: 0.5rem;
}

/* All animations will take twice as long to finish */
:root {
  --animate-duration: 500ms;
}

/* Override reduced motion */
@media (prefers-reduced-motion: reduce), print {
  .animate__animated {
    -webkit-animation-duration: var(--animate-duration) !important;
    animation-duration: var(--animate-duration) !important;
    transition-duration: var(--animate-duration) !important;
    -webkit-animation-iteration-count: var(--animate-duration) !important;
    animation-iteration-count: var(--animate-duration) !important;
  }
  .animate__animated.animate__infinite {
    -webkit-animation-iteration-count: infinite !important;
    animation-iteration-count: infinite !important;
  }
}/*# sourceMappingURL=style.css.map */