/* Bootstrap Overrides */
:root {
	--primary-rgb: 13, 110, 253;
	--primary-light-a: 0.05;
	
	/* Carry over from scoped .modal variable */
	--bs-modal-footer-gap: 0.5rem;
}

.text-muted {
	/*color: rgba(0,0,0,0.6) !important;*/
	color: inherit !important;
	opacity: 0.6;
}

/* Blur backgrounds */
.modal {
	backdrop-filter: blur(3px);
}

/* Force animation */
@media (prefers-reduced-motion: reduce) {
    .fade {
        transition: opacity .15s linear;
    }
	.modal.fade .modal-dialog {
		transition: transform .3s ease-out;
	}
}
/* https://stackoverflow.com/questions/32168234/change-the-bootstrap-modal-effect */
.fade-scale {
	transform: scale(0);
	opacity: 0;
	-webkit-transition: all .25s linear;
	-o-transition: all .25s linear;
	transition: all .25s linear;
}

.fade-scale.in {
	opacity: 1;
	transform: scale(1);
}

/* Main */

.main {
	&__sticky-bottom-nav {
		bottom: 0;
		padding: 2.0em;
		position: absolute;
		text-align: center;
		width: 100%;
		z-index: 2;
		
		/* White fade over content */
		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			height: 100%;
			left: 0;
			width: 100%;
			z-index: -1;

			background: rgb(255,255,255);
			background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
		}
	}
}

.game-table {
	width: 100%;

	td,
	th {
		padding: 1.0rem 0.5rem;
		text-align: center;
	}

	thead {
		th:first-child {
			vertical-align: top;
		}
	}

	tbody {
		tr.active {
			border: 1px solid #cccccc;
		}
		tr:nth-child(even) {
			background-color: #f6f6f6;
		}
	}

	.player-info-column {
		vertical-align: bottom;

		&.dealer {
			background-color: #f1f1f1;
		}
	}
	
	.player-round-column {
		.input-group {
			justify-content: center;
			margin-bottom: 0.5rem;
			
			&:last-of-type {
				margin-bottom: 0;
			}
		}

		input[type="number"] {
			/* Firefox */
			-moz-appearance: textfield;

			display: inline-block;
			max-width: 2.5em;
			text-align: center;
			width: auto;

			/* Chrome, Safari, Edge, Opera */
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			&::placeholder {
				opacity: 0.5;
			}
		}
	}
}

[contenteditable] {
	border: 0px solid rgba(0, 0, 0, 0.1);
	border-radius: var(--bs-border-radius);
	padding: 0.5rem;
}

/* All animations will take twice as long to finish */
:root {
	--animate-duration: 500ms;
}
/* Override reduced motion */
@media (prefers-reduced-motion: reduce), print {
	.animate__animated {
		-webkit-animation-duration: var(--animate-duration) !important;
		animation-duration: var(--animate-duration) !important;
		-webkit-transition-duration: var(--animate-duration) !important;
		transition-duration: var(--animate-duration) !important;
		-webkit-animation-iteration-count: var(--animate-duration) !important;
		animation-iteration-count: var(--animate-duration) !important;
	}

	.animate__animated.animate__infinite {
		-webkit-animation-iteration-count: infinite !important;
		animation-iteration-count: infinite !important;
	}
}
