body {
	background-color: #000000;
	height: 100%;
	margin: 0;
	overflow: hidden;/**//*margin-bottom: 1px; an extra margin-bottom: 1px allows the iOS inner/outer check to work */
	padding: 0;
	width: 100%;
	
	image-rendering: optimizeSpeed; /* Older versions of FF */
	image-rendering: -moz-crisp-edges; /* FF 6.0+ */
	image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
	image-rendering: -o-crisp-edges; /* OSX & Windows Opera (12.02+) */
	image-rendering: crisp-edges; /* Older versions of FF */
	image-rendering: optimizeSpeed; /* Possible future browsers */
	-ms-interpolation-mode: nearest-neighbor; /* IE (non-standard naming) */
	image-rendering: pixelated; /* Chrome 41 */
}

#orientation {
	background-color: #e3c034;
	background-image: url('../images/orientation-portrait.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: none;
	height: 100%;
	left: 0;
	margin: 0 auto;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
}

.font__use-preload {
	display: block;
	height: 0;
	overflow: hidden;
}

@font-face {
	font-family: 'eight_bit_1_6regular';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/8bit16-webfont.woff2') format('woff2'),
		url('fonts/8bit16-webfont.woff') format('woff');
}

/* Allow better game canvas and DOM interactions from experience with HTML forms and Phaser canvas */
#game > div {
	pointer-events: none;
}
#game > div > div {
	pointer-events: all;
}