/* Bootstrap Overrides */
:root {
	--primary-rgb: 13, 110, 253;
	--primary-light-a: 0.05;
	
	/* Carry over from scoped .modal variable */
	--bs-modal-footer-gap: 0.5rem;
}

.text-muted {
	/*color: rgba(0,0,0,0.6) !important;*/
	color: inherit !important;
	opacity: 0.6;
}

/* Blur backgrounds */
.modal {
	backdrop-filter: blur(3px);
}

/* Force animation */
@media (prefers-reduced-motion: reduce) {
    .fade {
        transition: opacity .15s linear;
    }
	.modal.fade .modal-dialog {
		transition: transform .3s ease-out;
	}
}
/* https://stackoverflow.com/questions/32168234/change-the-bootstrap-modal-effect */
.fade-scale {
	transform: scale(0);
	opacity: 0;
	-webkit-transition: all .25s linear;
	-o-transition: all .25s linear;
	transition: all .25s linear;
}

.fade-scale.in {
	opacity: 1;
	transform: scale(1);
}

/* All animations will take twice as long to finish */
:root {
	--animate-duration: 500ms;
}
/* Fix mobile issue with animations not being applied */
.animate__animated {
	transition-duration: var(--animate-duration) !important;
}
.animate__animated.animate__infinite {
	animation-iteration-count: infinite !important;
}
/* Override reduced motion */
@media (prefers-reduced-motion: reduce), print {
	.animate__animated {
		-webkit-animation-duration: var(--animate-duration) !important;
		animation-duration: var(--animate-duration) !important;
		-webkit-transition-duration: var(--animate-duration) !important;
		transition-duration: var(--animate-duration) !important;
		-webkit-animation-iteration-count: var(--animate-duration) !important;
		animation-iteration-count: var(--animate-duration) !important;
	}

	.animate__animated.animate__infinite {
		-webkit-animation-iteration-count: infinite !important;
		animation-iteration-count: infinite !important;
	}
}





